* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Changa", sans-serif;
    background: linear-gradient(135deg, rgba(109, 99, 87, 0.562), rgba(255, 255, 255, 0.8));
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl; 
    font-size: 14px;
}

.container {

    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 800px;
    height: 500px;
    overflow: auto;
    font-size: 12px;
}

h2 {

    text-align: center;
    color: #495057;
    margin-bottom: 15px;
    font-size: 20px;
}

h3 {
    color: #6c757d;
    margin-top: 15px;
    font-size: 16px;
    text-align: right; 
}

label {
    display: block;
    margin: 8px 0 4px;
    font-weight: bold;
    text-align: right; 
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}

button {
    background-color: #343a40;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px;
    font-family: "Cairo", sans-serif;
    margin-top: 30px;
    
}


button:hover {
    background-color: #495057;
    transform: translateY(-2px);
}

.link {
    text-align: center; 
    margin-top: 15px;
    font-size: 12px;
}

.link button {
    background-color: rgba(97, 87, 75, 0.674);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
    width: 50%;
    text-align: center;
    font-family: "Cairo", sans-serif;
}

.link button:hover {
    background-color: #495057;
    transform: translateY(-2px);
}

.link button:active {
    transform: translateY(0);
}
